* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
}

h1 {
  margin: 100px auto 50px;
  font-weight: 600;
  color: black;
}

form {
  width: 100%;
  max-width: 600px;
  margin: auto;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

form input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: black;
  font-size: 20px;
  padding: 0 30px;
}

form button {
  padding: 0 40px;
  height: 50px;
  font-size: 18px;
  border: none;
  outline: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background: black;
  color: white;
  cursor: pointer;
}

form button:hover {
  background: rgb(57, 49, 49);
  color: black;
}

::placeholder {
  color: black;
  font-size: 18px;
}

button {
  background: white;
  color: black;
  border: none;
  outline: none;
  padding: 10px 40px;
  border-radius: 4px;
  margin: 10px auto;
  cursor: pointer;
}

button:hover {
  background: rgb(57, 49, 49);
  color: white;
}

.gallery {
  width: 80%;
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.gallery img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 5px;
  transition: 0.2s all;
}

.gallery img:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 658px) {
  .gallery {
      grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 605px) {
  .gallery {
      grid-template-columns: 1fr;
      width: 70%;
      height: 200px;
  }
}